@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
  @media (min-width: 769px) {
    display: none;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

#currency-list {
  background-color: #fffefe;
  font-size: 28px;
  font-weight: bold;
  color: #224bb5;
  padding: 2% 3%;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.25);
  border: none;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  option {
    font-size: 18px;
    border: none;
  }
}

select {
  text-indent: 1px;
  text-overflow: "";
  appearance: none;
  &:focus,
  &:active {
    outline: none;
  }
}

.flux-list {
  h4 {
    color: #312f2f;
    opacity: 0.75;
    font-size: 20px;
  }
}

.flux-cards-list {
  display: flex;
  overflow-y: hidden;
  .each-flux-card {
    background-color: white;
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    margin-right: 3%;
    h6 {
      color: #000000;
      font-size: 18px;
      margin: 5px 0%;
    }
    h5 {
      color: #2ea810;
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0%;
    }
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#conversion-amt {
  background-color: #fffefe;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  padding: 2% 3%;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.25);
  border: none;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  option {
    font-size: 18px;
    border: none;
  }
}

.conversion-section {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 0.5fr 3fr 0.5fr 4fr;
  grid-column-gap: 10px;
  position: relative;
  margin: 5% 0px;
  padding-bottom: 5%;
  h6 {
    font-size: 14px;
    color: black;
    opacity: 0.4;
    text-align: center;
    margin: 20px 0px 10px 0px;
  }
  h5 {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 15px 0px 0px 0px;
  }
  input {
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    width: 85%;
    font-size: 20px;
    margin: 0 auto;
    font-weight: 700;
  }
  .amount {
    h5 {
      color: #224bb5;
    }
  }
  .flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      margin-bottom: 5px;
    }
  }
  .local-curr {
    display: flex;
    flex-direction: column;
  }
}
